.mainWrapper {
  width: 100%;
}

.logoWrapper {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  width: 200px;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ff853685;
  border-radius: 50%;
}
